$global-li
	list-style :none
	background: #888
	border: 1px solid #888
	border-radius: 4px
	padding: 4px 6px
	cursor pointer
	&:hover
		background: #555

$global-a
	text-decoration: none
	color:#ccc



